body {
    display: flex;
    content: display;
    background-color: #dddddd
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li a {
    display: flex;
    width: 60px;
    background-color: #dddddd;
    justify-content: wrap;
  }